.btn button {
color:white;
width:500px;
height:30px;
text-align:center;
display:inline-block;
font-size:16px;
margin:4px 2px;
border-radius:7px;
}
.a button {background-color:#C35F5F;
				   border:1px solid #B93C3C;}
.b button {background-color:#3296D7;
		   border:1px solid #1E82CD;}
				   
.div-style {
width:1000px;
height:30px;
text-align:center;
background-color:#2AB394;
color:white;
font:bold 20px Arial;
margin:4px 2px;
border-radius:10px;
display:inline-block;
padding:7px;
}

body {
position: absolute;
left:50%;
top:30%;
transform:translate(-50%, -50%);
}