body {
	background-color:#d8e7e3;
}

.btn button {
color:white;
width:700px;
height:60px;
text-align:center;
display:inline-block;
font-size:16px;
margin:4px 2px;
border-radius:7px;
}
.a button {background-color:#C35F5F;
		   border:1px solid #B93C3C;
		   position:absolute;
		   left:251.5px; bottom:150px;}
.b button {background-color:#3296D7;
		   border:1px solid #1E82CD;
		   position:absolute;
		   right:245.5px; bottom:150px;}
				   
.div-style {
width:1410px;
height:60px;
text-align:center;
background-color:#2AB394;
color:white;
font:bold 20px Arial;
border-radius:10px;
margin:4px 2px;
display:flex;
justify-content:center;
align-items:center;
padding:7px;
position:absolute;
left:250px;
top:30px;

}

.rect1 {
	top:120px;
	left:251.5px;
	position:absolute;
}
.rect2{
	top:120px;
	right:245.5px;
	position:absolute;
}

