.btn button {
color:white;
width:500px;
height:30px;
text-align:center;
display:inline-block;
font-size:16px;
margin:4px 2px;
border-radius:7px;
}
.a button {background-color:#C35F5F;
		   border:1px solid #B93C3C;
		   position:absolute;
		   left:258px; top:380px;}
.b button {background-color:#3296D7;
		   border:1px solid #1E82CD;
		   position:absolute;
		   left:768px; top:380px;}
				   
.div-style {
width:1010px;
height:30px;
text-align:center;
background-color:#2AB394;
color:white;
font:bold 20px Arial;
border-radius:10px;
margin:4px 2px;
display:inline-block;
padding:7px;
position:absolute;
left:250px;
top:30px;

}

.rect1 {
	top:80px;
	left:258px;
	position:absolute;
}
.rect2{
	top:80px;
	left:768px;
	position:absolute;
}

