.btn button input {
	color: white;
	width: 200px;
	height: 30px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
}

.btn1 {
	color: white;
	width: 200px;
	height: 30px;
	text-align: center;
	display: inline-block;
	font-size: 40px;
	margin: 4px 2px;
}

.reset button input submit {
	background-color: #ff0000;
	border: 0px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.submit {
	color: white;
	width: 200px;
	height: 30px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	background-color: #ff0000;
	border: 0px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.rank button {
	background-color: #0000ff;
	border: 1px solid #AD9AEE;
}

.reference {
	background-color: #2AB394;
	border: 0px solid #AD9AEE;
	width: 400px;
	height: 60px;
	outline: 0px;
}

.save button {
	background-color: #3366ff;
	border: 0px solid #AD9AEE;
	color: white;
	width: 420px;
	height: 30px;
	outline: 0px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 75px;
	padding: 1rem;
	color: white;
	background: #2AB394;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

body {
	padding-top: 75px;
	background: white;
}

body, html {
	height: 200%;
}

* {
	box-sizing: border-box;
}

.header_text h1 {
	color: black;
	text-align: center;
	font-size: 30px;
	margin: 4px 2px;
}

.hover {
	border: 1px solid;
	padding: 10px;
	width: 300px;
}

.show-hover {
	display: none;
}

.hover:hover .show-hover {
	display: block;
}

.hover:hover .hidden-hover {
	display: none;
}